* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #494949;
  background: #f9f9f9;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#todoList {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  max-width: 500px;
  margin: auto;
  margin-top: 60px;
  box-shadow: 8px 8px 10px #d8d8d8;
}

.todoTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.forminput {
  display: flex !important;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px;
  background: #fff;
  border: none;
}

.todoTitle,
.toDo,
#submitBtn {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 1px solid #f9f9f9;
  background: #fff;
}

.toDoItems {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-items: flex-start;
  border: 1px solid #f9f9f9;
  background: #fff;
}

.toDoitem {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  border: 1px solid #f9f9f9;
  background: #fff;
  height: 50px;
  width: 100%;
  padding: 10px;
}

.toDoitem .item {
  display: flex;
  width: 100%;
  gap: 15px;
  padding: 5px;
  background: #fff;
  align-items: center;
  align-content: center;
}

#todoList #submitBtn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: rgba(233, 231, 231, 0.5);
}

.toDo:placeholder-shown {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.toDo:focus {
  outline: none;
  border: none;
}

.item .toDo {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.item .toDo:hover {
  cursor: move;
}

.toDoitem .item:hover {
  cursor: move;
}

.fa-ellipsis-v:hover,
.fa-turn-down-left:hover,
.fa-refresh:hover {
  cursor: pointer;
}

.box {
  order: 0;
}
